<p>skills works!</p>
<h2>Skills</h2>

<div>
  <input [(ngModel)]="newSkill.name" placeholder="Skill Name">
  <input [(ngModel)]="newSkill.level" placeholder="Skill Level">
  <button (click)="addSkill()">Add</button>
</div>

<hr>


<ul>
  <li *ngFor="let skill of skills; let i = index">
    <div *ngIf="editIndex !== i">
      {{ skill.name }} - {{ skill.level }}
      <button (click)="startEdit(i)">Edit</button>
      <button (click)="deleteSkill(skill._id)">Delete</button>
    </div>

    <div *ngIf="editIndex === i">
      <input [(ngModel)]="editSkill.name">
      <input [(ngModel)]="editSkill.level">
      <button (click)="saveEdit()">Save</button>
      <button (click)="editIndex = null">Cancel</button>
    </div>
  </li>
</ul>
