<nav class="navbar">
  <div class="navbar-left">
    <h2 class="logo">Dashboard</h2>
  </div>

  <ul class="navbar-links">
    <li><a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
    <li><a routerLink="/dashboard/personal-info" routerLinkActive="active">Personal Info</a></li>
    <li><a routerLink="/dashboard/skills" routerLinkActive="active">Skills</a></li>
    <li><a routerLink="/dashboard/education" routerLinkActive="active">Education</a></li>
    <li><a routerLink="/dashboard/experience" routerLinkActive="active">Experience</a></li>
    <li><a routerLink="/dashboard/projects" routerLinkActive="active">Projects</a></li>
    <li><a routerLink="/dashboard/services" routerLinkActive="active">Services</a></li>
    <li><a routerLink="/dashboard/messages" routerLinkActive="active">Messages</a></li>
  </ul>


</nav>
